button{
    
    outline: none;
}
.login-container{
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 60px;
}
.login-container-head{
    display: flex;
    justify-content: center;
    color: white;
}
#icon{
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
}