<div class="login-container-head">
  <h2>Login</h2>
</div>
<div class="login-container-head">
  <h3>Sign In<i id="icon" class="fab fa-google-plus fa-2x" (click)="signWithGoogle()"></i></h3>
</div>
  <div class="login-container">
   <form (ngSubmit)="Login()">
        <div class="example-container">
          <mat-form-field appearance="fill">
          <mat-label>EMail</mat-label>
          <input matInput name="email" [(ngModel)]="email" required>
         </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput name="password" [(ngModel)]="password" required>
        </mat-form-field>
      <div class="example-container">
        <button mat-button class="warn">Login</button>
        <button mat-button class="danger" style="margin-left: 0.9rem;" [routerLink]="['/register']" >Sign Up</button>
      </div>
      </div>
    </form>
  </div>
