<!--<div class="cart-header" style="display: flex;justify-content: center;font-weight: bold;">
  <h1 style="margin-top: 50px;">My Cart</h1>
</div>
<div class="container">
  <div *ngIf="display" class="text-center my-5">
    <h4>Your Cart Is Empty</h4>
    <button mat-button color="accent" [routerLink]="['/home']" >GO TO SHOP</button>
  </div>
<h2 *ngIf="table">Total Amount: {{allTotal |currency:'INR'}}</h2>

<table class="table" *ngIf="table">
  <thead>
    <tr>
      <th></th>
      <th >Item</th>
      <th>Price</th>
      <th colspan="2">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of productAddedTocart;">
      <td>
        <mat-icon (click)="onRemove(prod.id)" style="cursor: grabbing">delete</mat-icon>
      </td>
      <td>
        <img src="http://localhost:3000/images/{{prod.Image}}.jpg" class="card-img-top" 
        style="height: 50px;width: 40px;">
        {{prod.name}}</td>
      <td>{{prod.price |currency:'INR'}}</td>
      <td>{{prod.quantity}}</td>
    </tr>
  </tbody>
</table>-->

<!-- Title group  -->
<div class="cart-header" style="display: flex;justify-content: center;font-weight: bold;">
  <h1 style="margin-top: 50px;">My Cart</h1>
</div>
<div *ngIf="productAddedTocart.length > 0" class="amount">
  <h2>Total Amount :{{TotalAmount | currency:"INR"}}</h2>
</div>

<div *ngIf="productAddedTocart.length <= 0" class="no-data">
      <h4>Your Cart Is Empty</h4>
  <button mat-button color="accent" [routerLink]="['/home']" >GO TO SHOP</button>
</div>

<div *ngIf="productAddedTocart.length > 0">
  <div  class=" example-container mat-elevation-z8">
    <table  mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="delete_icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell  *matCellDef="let element; let i = index;" > <mat-icon (click)="onRemove(i,element)" style="cursor: grabbing">delete</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" ><img src="http://localhost:3000/images/{{element.Image}}.jpg"></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency:"INR"}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="Addquantity(element)"><mat-icon>add_circle_outline</mat-icon></button>
          <input type="text"  class="form-control text-center"
           [(ngModel)]="element.quantity">
           <button mat-button  (click)="Removequantity(element)"><mat-icon>remove_circle_outline</mat-icon></button></td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<div *ngIf="productAddedTocart.length > 0" style="text-align: center">
<button mat-button [routerLink]="['/checkout']"  color="warn" style="background-color: whitesmoke;" >PROCEED TO BUY</button>
</div>


<style>
 
  div{
    color:white;
  }
  table{
    color: white;
  }
  button{
    outline: none;
  }
  img{
    padding:0.5rem 0rem 0.5rem 0rem;
    width: 80px;
    height: 80px;
  }
  table.mat-table,
table {
  width: 100%;
}
.example-container {
  overflow: auto;
}

.no-data {
  text-align: center;
  padding-top: 30px;
  color: white;
}
input{
  width: 62px;
}

@media (max-width: 767px){
  table.mat-table,
table {
  width: 100%;
}

td.mat-cell{
  padding-left: 10px;
  font-size: 0.8rem;
}
h2{
  font-size: 0.99rem;
}
img{
  width: 50px;
  height: 50px;
}
input{
  width: 50px;
 margin-left: 5px;
  height: 30px;
}
button{
padding-right:0 auto;
}
}
</style>