/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    display: none;
}
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif}
/* You can add global styles to this file, and also import other style files */

.product_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 0.7rem;
    width: 100%;
  }
  .item-grid{
      display: block;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: bold;
     
  }
  .item-grid > img{
    width: 100%;
    border:5px solid white;
    background-position: center;
    background-size: cover;
   
  }
  .men-grid{
    display: grid;
    grid-template-columns: repeat(6, calc(30% - 8px));
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: white;
  }
  .men-item{
  text-align: center;
  }


  .men-item > img{
    width: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 70px;
    padding-top: 10px ;
  }
  .men-item >h4{
    font-weight: bold;
 
  }
 
  @media (max-width: 769px) {
      .product_grid{
          grid-template-columns: repeat(2,1fr);
          grid-gap: 0.4rem;
      }
      
      .men-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: white;
      }
      .men-item > img{
        width: 150px;
        background-position: center;
        background-size: cover;
      }
    }
  