<div class="register-container-head">
  <h2>Sign Up</h2>
</div>
  <div class="register-container">
   <form (ngSubmit)="signup()">
        <div class="example-container">
          <mat-form-field appearance="fill">
          <mat-label>EMail</mat-label>
          <input matInput name="email"  [(ngModel)]="email">
         </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput name="password" [(ngModel)]="password">
        </mat-form-field>
      <div class="example-container">
        <button mat-button class="warn">Save</button>
      </div>
      </div>
    </form>
  </div>